# Model weights / checkpoints
*.pth
*.pt
*.ckpt
*.onnx

# Virtual environments
.venv/
venv/
env/

# Audio files
*.wav
*.flac
*.mp3
*.m4a
*.ogg
*.aac

# Training logs
logs/

# Inference / data temp folders
raw/
results/
**/_demucs/
inference/chunks_temp.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# System
.DS_Store
Thumbs.db
