# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Logs / checkpoints / models
logs/
checkpoints/
pretrain/
*.pth
*.pt
*.ckpt
*.onnx

# Audio / dataset / outputs
raw/
dataset/
filelists/
wav/
results/
*.wav
*.mp3
*.flac
*.m4a

# Cache
.cache/
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
